<h1>Log In Below:</h1>
<form action="/sessions" method="POST">
  <label>email</label>
  <input id="email" type="text" name="email"><br>
  <label>password</label>
  <input id="password" type="password" name="password"><br>
  <input type="submit" value="Log In">
</form>
