<h1>log in below:<h1>
<form action="/sessions" method="POST">
  <label>Email:</label>
  <br/>
  <input id="email" type="text" name="email">
  <br/>
  <label>Password:</label>
  <br/>
  <input id="password" type="password" name="password">
  <input type="submit" value="Log In">
</form>
